h1{
    font-size: 60px;
    text-align: center;
    line-height: 10%;
}
p{
    color: cyan;
    line-height:0;
    border: solid black 15px ;
}
img{
    width: 300px;
    height: 300px;
    position: top -10px;

}
